<p>Students Table</p>
<table class = "tb"> 
    <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
        <th>
          Course
        </th>
    </tr>
    <tr>
        <td>
         {{studentsList[0].Id}}
        </td>
        <td>
          {{studentsList[0].Name}} 
        </td>
        <td>
          {{studentsList[0].Course}} 
        </td>
    </tr>
    <tr>
      <td>
       {{studentsList[1].Id}}
      </td>
      <td>
        {{studentsList[1].Name}} 
      </td>
      <td>
        {{studentsList[1].Course}}
      </td>
  </tr>
  <tr>
      <td>
       {{studentsList[2].Id}}
      </td>
      <td>
        {{studentsList[2].Name}} 
      </td>
      <td>
        {{studentsList[2].Course}}
      </td>
  </tr>
  <tr>
      <td>
       {{studentsList[3].Id}}
      </td>
      <td>
        {{studentsList[3].Name}} 
      </td>
      <td>
        {{studentsList[3].Course}}
      </td>
  </tr>
  <tr>
      <td>
       {{studentsList[4].Id}}
      </td>
      <td>
        {{studentsList[4].Name}} 
      </td>
      <td>
        {{studentsList[4].Course}}
      </td>
  </tr>
  <tr>
      <td>
       {{studentsList[5].Id}}
      </td>
      <td>
        {{studentsList[5].Name}} 
      </td>
      <td>
        {{studentsList[5].Course}}
      </td>
  </tr>
  
</table>
<input [(ngModel)]="studentsList[0].Name" placeholder="name"/>